/**로고 검색창 로그인/회원가입 및네비게이션 바 **/

.top{
  width: 90%;
  margin: 10px auto;
}
#logo{
  position: relative;
  text-align:  left;
  margin: 10 auto;
  width: 60%;
  border-radius: 20px;
  border: 1px solid #bbb;
  margin: 10px 0;
  padding: 10px 12px;
}
.search {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
input {
  width: 60%;
  border-radius: 10px;
  border: 1px solid #bbb;
  margin: 10px 0;
  padding: 10px 12px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

/* main Styles */

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body {
  background: #fafafa;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
}

a { text-decoration: none; }

.container {
  width: 1000px;
  margin: auto;
}

h1 { text-align:center; margin-top:150px;}

/* Navigation Styles */

nav { background: #2ba0db; z-index: 2; }

nav ul {
  font-size: 0;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  color: #fff;
  display: block;
  font-size: 14px;
  padding: 15px 14px;
  transition: 0.3s linear;
}

nav ul li:hover { background: #126d9b; }

nav ul li ul {
  border-bottom: 5px solid #2ba0db;
  display: none;
  position: absolute;
  width: auto;
  z-index: 5;
}

nav ul li ul li {
  border-top: 1px solid #444;
  display: block;
}

nav ul li ul li:first-child { border-top: none; }

nav ul li ul li a {
  background: #373737;
  display: block;
  padding: 10px 14px;
}

nav ul li ul li a:hover { background: #126d9b; }

nav .fa.fa-angle-down { margin-left: 6px; }


    /**     커뮤니티 스타일    **/
    .not-title{
        width: 1000px;
        height: 50%;
        margin: auto;
        font-size: 1.8rem;
        color: rgb(0, 0, 0);
       

    }

    .Community-table {
        width: 1500px;
        text-align: center;
        border: 1px solid #fff;
        border-spacing: 1px;
        font-family: 'Cairo', sans-serif;
      margin: auto;
      word-spacing: 1500px;
    }
    
    caption {
        font-weight: bold;
    }
    
    .Community-table-td {
        padding: 10px;
        background-color: #eee;
    }
    
    .Community-table-th{
        background-color: #333;
        color: #fff;
        padding: 10px;
    }
    .Community-table-tablefoot {
        padding: 0;
        border-bottom: 3px solid #009688;
    }
    .Community-btn-write{
        float: right;
    }


    .Community-pagination{
        text-align : center;
    }
      .Community-pagination a {
        display: inline-block;
        padding: 5px 10px;
        margin: 0 5px;
        text-decoration: none;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        float: center;
        
      }

      .Communtiy-search {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
      
      .Communtiy-search input[type="text"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      .Communtiy-search button {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .Communtiy-search button:hover {
        background-color: #3e8e41;
      }
      .Community-btn-write {
        background-color: #008CBA;
        color: #fff;
        padding: 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      
        
      }
      
      .Community-btn-write:hover {
        background-color: #006983;
      }

/* 홍보영상 게시판 css*/
.container-travel {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 가로로 3개의 박스를 나열 */
    grid-template-rows: repeat(3, 1fr); /* 세로로 3줄씩 나누기 */
    gap: 20px; /* 박스 간격 설정 */
    padding: 20px; /* 컨테이너 안쪽 여백 설정 */
    
  }
  
  .image-row {
    display: grid;
    grid-template-rows: auto 1fr;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 10px;
    justify-content: center; /* 수평 가운데 정렬 */
    align-content: center; /* 수직 가운데 정렬 */
  }
.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    text-align : center;
  }

  .caption {
    margin-top: 10px;
    font-weight: bold;
  }
